@import url(https://fonts.bunny.net/css?family=plus-jakarta-sans:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap);
@import 'tippy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari and Opera */
    display: none;
  }
}

@layer components {
  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 focus:ring-offset-zinc-50 dark:focus:ring-violet-600 dark:focus:ring-offset-zinc-900;
  }
}
